<!DOCTYPE html>
{% load static %}
<html>
   
<head>
    <title>My First Django App</title>
</head>
<!-- -------------head section ends here----------------- -->

<body>

<h1>Hello World!</h1>
<p>Welcome to my first Django project!</p>

<h2>Employee Details</h2>
<table border="1">
    <tr bgcolor="lightblue">
        <th>Employee No</th>
        <th>Employee Name</th>
        <th>Employee Salary</th>
        <th>Employee Address</th>
    </tr>
    {% for employee in emp_key %}
    <tr bgcolor="lightgrey">
        <td>{{ employee.eno }}</td>
        <td>{{ employee.ename }}</td>
        <td>{{ employee.esal }}</td>
        <td>{{ employee.eaddr }}</td>
    </tr>
    {% endfor %}
</table>


</body>
</html>